/*
* From vvg@wingi.ru page-calculation.css
*/

.top_panel { margin-bottom: 3.4rem; }

h1 {
    text-align: center;
    margin-bottom: 0.98em;
}

.calculation-form {}

.calculation-form input { height: 3em; }
.calculation-form input.input-error { border-color: red !important; }
.calculation-form .form-input { position: relative; }

.calculation-form .form-input .left-icon {
    display: block;
    position: absolute;
    fill: red;
    width: 1.3rem;
    height: 1.3rem;
    top: 50%;
    margin-top: -.65rem;
    left: 1.5rem;
}

.calculation-form .form-input .left-icon + input {
    padding-left: 2.3rem;
}

.calculation-form .form-input .right-icon {
    display: block;
    position: absolute;
    line-height: 1.3rem;
    top: 50%;
    margin-top: -.65rem;
    right: 1.5rem;
}

.calculation-form .form-input .right-icon + input {
    padding-right: 2.3rem;
}

.calculation-form .form-input-isTermo,
.calculation-form .form-info {
    display: inline-block;
    margin-top: 2.69rem;
    margin-bottom: 3.3rem;
}

.calculation-form .form-input-isTermo div {
  position: relative;
  padding: 0 0 0 1.5rem;
  cursor: pointer;
}

.calculation-form .form-input-isTermo div:before {
  content: '';
  position: absolute;
  top: 4px;
  left: 0;
  width: .9rem;
  height: .9rem;
  border-radius: 3px;
  border: 1px solid #C1C1C1;
}

.calculation-form .form-input-isTermo input:checked + div:before {
  background: #9FD468;
}


.calculation-form .form-info {
    text-align: right;
    width: auto;
    float: right;
}

.calculation-form .input-tip-list {
    position: absolute;
    top: 100%;
    width: 100%;
    border-radius: 5px;
    border: 1px none #000000;
    box-shadow: 0px 10px 25px 4px rgba( 2, 2, 2, 0.50 );
    background-color: rgba( 255, 255, 255, 1.00 );
    max-height: 7rem;
    overflow-y: scroll;
    z-index: 90;
}

.calculation-form .input-tip-list ul {
    margin: 0;
    padding: 0;
}

.calculation-form .input-tip-list ul li {
    list-style: none;
    cursor: pointer;
    padding: .5rem 1rem;
}

.calculation-form .input-tip-list ul li:hover {
    background: red;
    color: #ffffff;
}

.calculation-result {
    border-top: solid 1px gray;
    margin-top: .8rem;
}

.calculation-result .info-logo svg {
    width: 73%;
    margin-top: -3rem;
    height: auto;
}

.calculation-result > .warning {
    color: #6E6E6E;
    font-size: 12px;
    margin-bottom: 66px;
}

.calculation-result .map-wrapper {
    position: relative;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.calculation-result .map-highlite {
    position: absolute;
    background: rgba(193,223,193,.5);
    width: 100%;
    height: calc(100% - 1rem);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    color: #4C4C4C;
    text-align: center;
    line-height: 100%;
    transition: width .3s ease-in-out,
                height .3s ease-in-out;
    padding-top: 1rem;
    font-weight: bold;
}

.calculation-result .open .map-highlite {
    display: none;
}

.calculation-result #map {
    width: 100%;
    height: 4rem;
    /* transition: height .3s ease-in; */
}

.calculation-result .open #map {
    height: 25rem;
}

.calculation-result .result-item {
    line-height: 2rem;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.calculation-result .result-item svg {
    height: 2rem;
    display: inline-block;
    top: .5rem;
    position: relative;
    margin-right: .4rem;
}

.calculation-result .result-item span {
    padding-left: .3rem;
}

.calculation-result .result-item span.price-text {
    font-size: 28px;
}

.calculation-result .result-item span.price-text:after {
    content: 'руб.';
}

.culculation-send-form {
    background-color: #FAF9F5;
    padding: 3rem 0;
}

.culculation-send-form h2 {
    font-size: 38px;
    text-align: center;
    margin-bottom: 4.9rem;
}

.culculation-send-form .wpcf7-form .fields > div {
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    margin-bottom: 2.4rem;
}

.culculation-send-form .wpcf7-form .fields > div > * {
    display: block;
}

.culculation-send-form .wpcf7-form .fields > div > label {
    width: 39%;
    text-align: right;
    padding-right: 1%;
    /* padding-top: 1rem; */
}

.culculation-send-form .wpcf7-form .fields > div > span {
    width: 60%;
}

.culculation-send-form .wpcf7-form .fields.vc_col-sm-5 > div > label {
    width: 29%;
}

.culculation-send-form .wpcf7-form .fields.vc_col-sm-5 > div > span {
    width: 70%;
}

.culculation-send-form .wpcf7-form .fields.vc_col-sm-5 > div:last-child > label {
    align-self: start;
}

.culculation-send-form .wpcf7-form .fields > div > span input[type="text"],
.culculation-send-form .wpcf7-form .fields > div > span input[type="date"],
.culculation-send-form .wpcf7-form .fields > div > span textarea {
    width: 100%;
}

.culculation-send-form .wpcf7-form .fields > div > span .wpcf7-submit {
    margin-top: 0;
}

.culculation-send-form .wpcf7-form .fields > div > span textarea {
    height: 250px;
}

.culculation-send-form .wpcf7-form .fields > div > span input[type="date"] {
    color: #af9e8b;
    border: 1px solid #ddd;
    border-color: #f7f6f2;
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2em;
    text-decoration: none;
    text-transform: none;
    -webkit-appearance: none;
    outline: none;
    resize: none;
    padding: 13.5px 14px;
    border-radius: 3px;
    width: 100%;
    max-width: 100%;
    height: 3.584em;
    box-sizing: border-box;
}