/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08.11.2018, 12:22:34
    Author     : nextdz
*/
.import_file_list{}
.file_list_upload{}
.file_list_upload > label{}
.file_list_upload_btn{font-size: 14px;font-weight: 700;color: green;}
.some_file_list{}
.file_list_upload_container{}
.file_list_upload_container > .cargo_calc_row_wrapp{padding: 5px 15px;position: relative;display: block;float: left;width: 100%;}
.cargo_calc_row_wrapp:before{content:'';width: 12px;height: 3px;border-radius: 3px;background: green;position: absolute;left: 0px;top: 50%;}
.cargo_calc_dell{background: #8d0000;border-color: #1abef3 !important;}
.cargo_calc_dell:hover{background-color: red;border-color: #c51d1d !important;}
.cargo_calc_dwl:hover{border-color: #75f4fe !important;box-shadow: 1px 1px 2px #17b2db,-1px -1px 2px #17b2db !important;}
.cargo_calc_dwl{background-color: #0085ba;border-color: #00b6ff !important;}
.cargo_calc_import{background-color: green;border-color: #0fb327 !important;}
.cargo_calc_import:hover{background-color: #0fb327;border-color: #008000 !important;box-shadow: 1px 1px 2px #0fb327,-1px -1px 2px #0fb327 !important;}
.cargo_calc_row_wrapp>span:hover{box-shadow: 1px 1px 2px rgba(0,0,0, .5),-1px -1px 2px rgba(0,0,0, .5);}
.cargo_calc_row_wrapp>span>a{text-decoration: none;color: #FFF;}
.cargo_calc_row_wrapp>span{padding: 0px 6px 2px 6px;margin: 0px 7px;border-radius: 17px;border: 2px solid;cursor: pointer;color: #fff;}
.cargo_calc_import_list_done > table{}
.cargo_calc_import_list_done tbody{}
.cargo_calc_import_list_done tr:nth-child(2n){ background: #cfe0e4;}
.cargo_calc_import_list_done tr:nth-child(2n + 1){ background: #cecece;}
.cargo_calc_import_list_done td{border-left: 1px solid green;min-width: 50px;text-align: center;padding: 1px 5px;}

